/* eslint-disable */

import { SVGAttributes, FunctionComponent } from 'react';
#exports#

export interface Props extends Omit<SVGAttributes<SVGElement>, 'color'> {
  name: '#names#';
  size?: number;
  color?: string | string[];
}

declare const IconFont: FunctionComponent<Props>;

export default IconFont;
