/* eslint-disable */

import React from 'react';
#imports#

const DEFAULT_STYLE = {
  display: 'block',
};

const #SummaryIcon# = ({ color, name, size, style: _style, ...rest }) => {
  const style = _style ? { ...DEFAULT_STYLE, ..._style } : DEFAULT_STYLE;

  switch (name) {
#cases#
  }

  return null;
};

#SummaryIcon#.defaultProps = {
  size: #size#,
};
#colorFunc#
export default #SummaryIcon#;
