/* eslint-disable */

import React from 'react';
import { getIconColor } from './helper';

const DEFAULT_STYLE = {
  display: 'block',
};

const #componentName# = ({ size, color, style, ...rest }) => {
  style = style ? { ...DEFAULT_STYLE, ...style } : DEFAULT_STYLE;

  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

export default #componentName#;
